body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: white;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: darkgray;
  padding: 2rem;
}
a:hover {
  color: #8c1c13;
}
.headerTitle {
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif;
  color: black;
  cursor: pointer;
}
.trendingH1 {
  color: #8c1c13;
  margin: 0 0 10px 0;
}
.card:hover .trendingH1 {
  color: white;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 20px 20px 20px;
  max-width: 200px;
  margin: 10px 0px;
  background-color: white;
}
.card:hover,
.priceWhite:hover {
  background-color: #8c1c13;
  color: white;
}

.card img {
  /* display: block; */
  height: 100%;
  width: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.card h3 {
  font-size: 0.75rem;
  margin-top: 0;
}

.card p {
  font-size: 0.7rem;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #8c1c13;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: white;
}
.chartHomeDiv {
  width: 100%;
  padding: 10px 0;
  height: 5%;
  display: flex;
  align-items: center;
  border-bottom: 1px dotted grey;
}
.chartHomeDiv p {
  width: 17%;
  word-wrap: break-word;
}
.divTitle {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white;
  margin: 15px auto 20px auto;
  width: 100%;
  border-radius: 13px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cryptoPageTitle {
  font-size: 40px;
}
.cryptoPagePriceTitle {
  font-size: 25px;
  padding-bottom: 10px;
}
.cryptoPageLogo {
  width: auto;
  height: 5em;
  padding: 0px 10px;
}
.logoImage {
  height: 35px;
}
.mcapRank {
  font-size: 18px;
}

.green {
  color: rgb(0, 128, 0);
}
.red {
  color: rgb(255, 0, 0);
}
.priceRed {
  background-color: #8c1c13;
  color: white;
}
.grey {
  color: #b3b5bb;
}
.cursor {
  cursor: pointer;
}
#descriptionDiv {
  padding: 20px;
  width: 30%;
  border-left: #b3b5bb 1px solid;
}
#marketCapDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 10px 50px 10px;
  height: auto;
}
.cryptoPagePriceDiv {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-direction: column;
  font-size: 15px;
}
.marketCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px grey;
}
.border {
  height: auto;
  border-left: 2px solid lightgray;
}

#chartAndDescription {
  display: flex;
  border-top: #b3b5bb 1px solid;
}
.chartDiv {
  width: 70%;
}

#descriptionData a {
  background-color: rgb(255, 255, 159, 0.6);
  padding: 2px;
  color: black;
}

@media (max-width: 770px) {
  .divTitle {
    font-size: small;
  }
  .headerTitle {
    font-size: x-large;
  }
  .logoImage {
    height: 25px;
  }

  .cryptoPageTitle {
    font-size: 30px;
  }
  .cryptoPageLogo {
    height: 3em;
  }
  .cryptoPagePriceTitle {
    font-size: 20px;
  }
  #chartAndDescription {
    flex-direction: column;
    align-items: center;
  }
  .chartDiv {
    width: 100%;
  }
  #descriptionDiv {
    width: 100%;
  }
  .chartHomeDiv {
    font-size: 12px;
  }
  .mcapRank {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .divTitle {
    font-size: x-small;
  }
  .logoImage {
    height: 15px;
  }
  .cryptoPageTitle {
    font-size: 15px;
  }
  .cryptoPageLogo {
    height: 2em;
  }
  .cryptoPagePriceTitle {
    font-size: 13px;
  }
  .cryptoPagePriceDiv {
    font-size: 12px;
  }
  .chartHomeDiv {
    font-size: 10px;
  }
  .mcapRank {
    font-size: 13px;
  }
}
